/* Header part */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    
}
button{
    height: 20px;
    width: 70px;
    color: white;
    background-color: rgb(62, 65, 243);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* Main part */
.nav{
    background-color: rgb(199, 177, 94);
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
}
a{
    text-decoration: none;
    color: black;
}
.box{
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
      
}
.box-shop{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-color: rgb(201, 121, 121);
    box-shadow: 0 8px 10px rgb(2, 6, 14);
    border-radius: 25px;
}
.product{
    height: 200px;
    width: 200px;
    background-image:url(../images/Photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer part */


