/* header part */
header{
    height: 25px;
    background-color: rgb(204, 206, 126);
}
.nav{
    color: black;
    justify-items:center;
    justify-content: flex-start;

}

/* main part */
main{
    background-color: rgb(122, 224, 228);
}

/* footer part */
footer{
    background-color: rgb(82, 74, 74);
}
header, main, footer {
    padding: 20px;
}