body{
    margin: 0%;
    padding: 0%;
}
/* header part */
header{
    height: 150px;
    background-color: rgb(108, 247, 252);
    justify-content: center;
    display: flex;
}
.nav{
    color: black;
    justify-content:center;

}

/* main part */
main{
    height: 400px;
    background-color: rgb(122, 224, 228);
    justify-content: center;    
    display: flex;
}

/* footer part */
footer{
    height: 100px;
    background-color: rgb(50, 50, 50);
    color: white;
    justify-content: center;    
    display: flex;
    align-items: center;
}