body{
    margin: 0%;
    padding: 0%;
}

/* header part */
header{
    height: 150px;
    background-color: rgb(108, 247, 252);
    justify-content: center;
    display: flex;
}

/* main part */
main{
    height: 400px;
    background-color: rgb(122, 224, 228);
}
.nav{
    background-color: rgb(199, 177, 94);
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
}
a{
    text-decoration: none;
    color: black;
}

/* footer part */
footer{
    height: 100px;
    background-color: rgb(50, 50, 50);
    color: white;
    justify-content: center;    
    display: flex;
    align-items: center;
}